*.env
!.env.example
.DS_Store
vscode/settings.local.json
neovim/.config/nvim/local.lua
__pycache__/
*.py[cod]
.nvimlog
.luarc.json
spring-docker-compose/.project
spring-docker-compose/.classpath
spring-docker-compose/.settings/
