- name: Install GitHub Desktop
  homebrew_cask:
    name: github
    state: present
  tags:
    - "git"

- name: Set git user name
  git_config:
    name: user.name
    scope: global
    value: "{{ lookup('env', 'GIT_USER_NAME') }}"
  when: lookup('env', 'GIT_USER_NAME') != ''
  tags:
    - "git"

- name: Set git user email
  git_config:
    name: user.email
    scope: global
    value: "{{ lookup('env', 'GIT_USER_EMAIL') }}"
  when: lookup('env', 'GIT_USER_EMAIL') != ''
  tags:
    - "git"

- name: Warn if GIT_USER_NAME is not set
  debug:
    msg: "WARNING: GIT_USER_NAME is not set. Skipping git user name configuration."
  when: lookup('env', 'GIT_USER_NAME') == ''
  tags:
    - "git"

- name: Warn if GIT_USER_EMAIL is not set
  debug:
    msg: "WARNING: GIT_USER_EMAIL is not set. Skipping git user email configuration."
  when: lookup('env', 'GIT_USER_EMAIL') == ''
  tags:
    - "git"
