- name: Set Go binary path (versioned)
  set_fact:
    go_bin_path: "/opt/homebrew/opt/go@{{ go_version }}/bin"
  when: go_version != ''
  tags:
    - "go"

- name: Set Go binary path (latest)
  set_fact:
    go_bin_path: "/opt/homebrew/bin"
  when: go_version == ''
  tags:
    - "go"

- name: Add Go bin directory to PATH in .zprofile
  lineinfile:
    path: "{{ ansible_facts.env.HOME }}/.zprofile"
    line: 'export PATH="{{ go_bin_path }}:$HOME/go/bin:$PATH"'
    create: yes
    state: present
  tags:
    - "go"

- name: Install Delve debugger
  shell: go install github.com/go-delve/delve/cmd/dlv@latest
  environment:
    PATH: "{{ go_bin_path }}:/opt/homebrew/bin:/usr/local/bin:{{ ansible_facts.env.PATH }}"
    GOPATH: "{{ ansible_facts.env.HOME }}/go"
    HOME: "{{ ansible_facts.env.HOME }}"
  tags:
    - "go"
