- name: Read GO_VERSION from environment
  set_fact:
    go_version: "{{ lookup('env', 'GO_VERSION') }}"
  tags:
    - "go"

- name: Warn if GO_VERSION is not set
  debug:
    msg: "WARNING: GO_VERSION is not set. Installing latest Go."
  when: go_version == ''
  tags:
    - "go"

- name: Install specific Go version
  homebrew:
    name: "go@{{ go_version }}"
    state: present
  when: go_version != ''
  tags:
    - "go"

- name: Install latest Go
  homebrew:
    name: go
    state: present
  when: go_version == ''
  tags:
    - "go"

- name: Install Delve debugger
  shell: go install github.com/go-delve/delve/cmd/dlv@latest
  environment:
    PATH: "{{ ansible_env.PATH }}"
  tags:
    - "go"

- name: Add Go bin directory to PATH in .zprofile
  lineinfile:
    path: "{{ ansible_env.HOME }}/.zprofile"
    line: 'export PATH="$HOME/go/bin:$PATH"'
    create: yes
    state: present
  tags:
    - "go"
