- name: Install vim
  homebrew:
    name: vim
    state: present
  tags:
    - "vim"

- name: Install neovim
  homebrew:
    name: neovim
    state: present
  tags:
    - "vim"

- name: Stow neovim dotfiles
  command:
    cmd: stow neovim
    chdir: "{{ ansible_env.HOME }}/Documents/GitHub/dev_setup"
  register: stow_neovim
  failed_when: stow_neovim.rc != 0
  tags:
    - "vim"
