- name: Install stow
  homebrew:
    name: stow
    state: present
  tags:
    - "stow"

- name: Stow zsh dotfiles
  command:
    cmd: stow zsh
    chdir: "{{ ansible_env.HOME }}/Documents/GitHub/dev_setup"
  register: stow_zsh
  failed_when: stow_zsh.rc != 0
  tags:
    - "stow"

- name: Stow neovim dotfiles
  command:
    cmd: stow neovim
    chdir: "{{ ansible_env.HOME }}/Documents/GitHub/dev_setup"
  register: stow_neovim
  failed_when: stow_neovim.rc != 0
  tags:
    - "stow"

- name: Stow vscode dotfiles
  command:
    cmd: stow vscode
    chdir: "{{ ansible_env.HOME }}/Documents/GitHub/dev_setup"
  register: stow_vscode
  failed_when: stow_vscode.rc != 0
  tags:
    - "stow"

- name: Stow tmux dotfiles
  command:
    cmd: stow tmux
    chdir: "{{ ansible_env.HOME }}/Documents/GitHub/dev_setup"
  register: stow_tmux
  failed_when: stow_tmux.rc != 0
  tags:
    - "stow"
